@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}
.Space{
    padding: 40px 0px
}
/* Her starter meny-koden*/
.Hovedmeny-Banner {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #c2bf9b;
    width: 100%;
    padding: 50px 0px;
    max-height: 50px;
}
.Overskrift{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 0%;
    right: 40%;

}
.Side-bannerLeft{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #d1d3b3;

    padding: 0px 120px;
    max-width: 120px;
    z-index: -1 !important;
}

.Side-bannerRight{
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #d1d3b3;
    height: 100%;
    padding: 0px 120px;
    max-width: 120px;
    z-index: -1 !important;
}
.Nedre_banner {
    position: relative;

    bottom: 0;

    background-color: #c2bf9b;
    width: 100%;
    padding: 60px 0px;
    max-height: 60px;


}
.Nedre_BannerSkrift{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.Dropdown{
    position: absolute;
    top: 0%;
    right: 20%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    max-width: 50px;
    max-height: 60px;
    padding: 12px 0px;

}

.Dropdown-list{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 1px;
    display: none;
    opacity: 0;
    background-color: #dbcdd5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    padding: 12px 16px;
    border-radius: 10px;
    transition: opacity 0.2s ease, display 0.2s ease;
    transition-behavior: allow-discrete;

}
a{
    color: black;
}

.Dropdown:hover .Dropdown-list{
    opacity: 1;
    display: block;
    animation: fadeIn 0.2s ease-in ;
}

.Dropdown-list:not(:hover){
    opacity: 0;
    display: none;
}

.Dropdown-list-element{
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    padding: 12px 16px;

}

.cursor {
    cursor: default;
    transition: font-weight 0.5s ease;
}

.cursor:hover{
    font-weight: 1000;
}

.cursor:not(hover){
    font-weight:500;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* Her stopper meny-koden */

.Grid{

    display: grid;
    justify-self: center;


    grid-template-columns:  auto auto;
    grid-gap: 60px;
    padding: 0px 300px ;
}

.Grid div{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: left;
}

.Grid h1{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}
.align{
    align-content: center;
    max-height: 600px;
    max-width: 300px;
}